.modal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
    > header {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 40px;
        .close {
            width: 100px;
            padding-right: 20px;
            text-align: center;
            color: #fff;
            line-height: 40px;
            background-color: #000;
            cursor: pointer;
        }
    }
    > section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 40px 10px 0;
        overflow: auto;

        .btnWrap {
            padding: 20px;
            span {
                display: inline-block;
                width: 200px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                text-align: center;
                background-color: #01acf3;
                border-radius: 5px;
            }
        }

    }
}

:global {
    .pop-modal-enter {
        opacity: .01;
        transform: translateY(-100%);
    }
    .pop-modal-enter.pop-modal-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: all .5s cubic-bezier(0.18, 0.89, 0.38, 1.12);
    }
    .pop-modal-leave {
        opacity: 1;
        transform: translateY(0);
    }
    .pop-modal-leave.pop-modal-leave-active {
        opacity: .01;
        transform: translateY(-100%);
        transition: all .5s cubic-bezier(0.18, 0.89, 0.38, 1.12);
    }
}



